@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* 기본 세팅 */
body {
    line-height: 1; 
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 추가 코드 */

/* float 해제용 클래스 추가 (after를 사용하면 부모요소에 걸어도 부모요소가 끝날때 float clear해줌. 공간요소인 block로해야 해제가능, both로 방향상관없이 양쪽 clear) */
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
/* a태그 밑줄 삭제*/
a {text-decoration: none;}
a:hover {color: #fff; background-color: #070705;}
a:visited {color: #fff;}
/* 이미지 밑에 항상 생기는 공백 삭제 */
img {vertical-align: top;}

p {margin-bottom: 2.1em; }
/* Typography */
/* 
    font-family: 'Bentham', serif;
    font-family: 'Libre Baskerville' serif;
    font-family: 'PT Serif', serif;
*/
body {
    font-size:18px;
    font-family: 'PT Serif', serif;
    /* color:#6f6f6f; */
    color:white;
    line-height:34px;
}
h1, h2 {
    font-family: 'Bentham', serif;
}
h3 {
    font-family: 'PT Serif', serif;
}

/*  Layout*/
.content {
    width: 800px; 
    margin: 100px auto 0;
    
    background-size: 100%;
}

.content_bg_note {
	background:url(./img/content_bg01.png) no-repeat center top / cover;
}


/* Hearder */
/* 헤더 이미지는 1920px * 600px정도  3000px 이상은 과함*/
header {
    height: 660px;
    /*background:url(/html/html/resource/img/header_bg03.jpg) no-repeat center top / cover; /* position위치 center top / bg size : cover*/ 
    /* background:url(/html/html/resource/img/content_bg_window02.png) no-repeat center top / cover; */
    text-align:center;
    color:#fff;
    padding: 0 25px;
    box-sizing: border-box;
    margin-bottom: 0 0 100px;
    position: relative;
}
header h1 {
    /* border: 1px solid #fff; */
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 0 10px;
    line-height: 45px;
}
header h2 {
    font-size: 55px;
    line-height: 72px;
    width: 670px;
    margin: 100px auto 30px;
}
header p {
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    color: white;
}
sub-a {
    display: inline-block;
    height: 2000px;
    width: 100%;
    /*background:url(/html/html/resource/img/header_bg03.jpg) no-repeat center top / cover; /* position위치 center top / bg size : cover*/ 
    /* background:url(/html/html/resource/img/content_bg_window02.png) no-repeat center top / cover; */
    background-color: #070705;
    text-align:center;
    color:#fff;
    padding: 0 25px;
    box-sizing: border-box;
    
    margin: 0 auto;
    position: absolute; left:0; right:0; top:0; bottom:0;
    z-index: -10;
}
sub-b {
    width: 1300px;
    height: 2000px;
    /* background:url(/html/html/resource/img/header_bg03.jpg) no-repeat center top / cover; /* position위치 center top / bg size : cover*/ 
    background:url(./img/content_bg_table01.png) no-repeat center top / cover;
    text-align:center;
    color:#fff;
    padding: 0 25px;
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute; left: 0; right:0; top:0; bottom:0;
    z-index: -2;
}
/* Main content */

.content h2 {
    font-size: 42px;
    font-weight: 900;
    line-height: 49px;
    letter-spacing: 0.04em;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 0;
    /* text-transform: uppercase; */
}

.content h3 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.08em;
    line-height: 14px;
    margin: 20px 0 50px;
    color:#fff;
}
.content p {
    width: 620px;
    margin-left: 110px;
    line-height: 2.1em;
    font-style: italic;
}
.content p:last-of-type {
    margin-bottom: 50px;
}
.content ul {
    width: 100%;
    margin-top: 100px;
    border: 1px solid #838383;
    color: #fff;
    font-weight: 900;
}
.content ul li {
    text-align: center;
    width: 25%;
    float: left;
    border-right: 1px solid #838383;
    box-sizing: border-box;          /* %로 분할할때 box-sizing이 width 기준이면 border값때문에 안 맞음*/
    line-height: 52px;
}
.content ul li:last-of-type {
    border-right: none ;
}
.content ul li a {
    display: block;
}
/* .content ul li:last-of-type a:hover {
    background-color: #e3514e;
} */
/* Footer */
footer p {
	position: fixed;
	bottom: 20px;
	right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
}


/*  */

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}

.title-p{
	color: white;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 120px;
  height: 35px;
  color: #747474;
  border-radius: 5px;
  padding: 5px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  outline: none;
  border: 1px solid #ba6;
  line-height:1;
}
.custom-btn:active{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

/* 1 */
.btn-1{
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,#fea 0%,#dc8 49%,#a95 51%,#dc8 100%);
  border-radius: 5px;
}

/* 2 */
.btn-2{
  background: linear-gradient(top, #a95, #f2f2f2 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, #a95);
  background: -webkit-linear-gradient(top, #a95, #fea 25%, #ffffff 38%, #dc8  63%, #fea 87%, #a95);
}

/* 3 */
.btn-3{
  background: -webkit-gradient(linear, left top, left bottom, from(#a95), to(#fea));
}

/* 4 */
.btn-4{
   color: #fff;
 background-image: -webkit-repeating-linear-gradient(left, rgba(255, 238, 170, 0) 0%, rgba(255, 238, 170, 0) 3%, rgba(255, 238, 170, .1) 3.75%),
    -webkit-repeating-linear-gradient(left, rgba(170, 153, 85, 0) 0%, rgba(170, 153, 85, 0) 2%, rgba(170, 153, 85, .03) 2.25%),
    -webkit-repeating-linear-gradient(left, rgba(255, 238, 170, 0) 0%, rgba(255, 238, 170, 0) .6%, rgba(255, 238, 170, .15) 1.2%),
    
    linear-gradient(180deg, #a95 0%, 
    #fea 47%, 
    #dc8 53%,
    #fea 100%);
  
}

/* 5 */
.btn-5{
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-color: #7c7c7c;
  background: linear-gradient(180deg,#e6e6e6 0%,rgba(0, 0, 0, 0.25) 49%, rgba(38, 38, 38, 0.6) 51%,rgba(0, 0, 0, 0.25) 100%);
  border-radius: 5px;
}

/* 6 */
.btn-6{
  border-color: #7c7c7c;
  background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
  background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25)  63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));
}

/* 7 */
.btn-7{
  border-color: #7c7c7c;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(#e6e6e6));
}

/* 8 */
.btn-8{
 border-color: #7c7c7c;
background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

/* 9 */
.btn-9{
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-color: #D9A3A9;
  background: linear-gradient(180deg,#FFE6E9 0%,#DDA6AE 49%, #B76E79 51%,#DDA6AE 100%);
  border-radius: 5px;
}

/* 10 */
.btn-10{
  border-color: #D9A3A9;
  
} 

 
.title-font {
	font-style: italic;
	font-size: 500px;
}
.title-margin {
	margin-bottom: 30px;
} 



/*
구글 웹폰트 url : fonts.google.com

 로고 :Bentham reg

 title : Baskerville italic

 소제목 : Pt serif itlaci
 본문, footer : PT serif, Pt serif reg 
 */